<%- include('partials/header') %>


	<div class="container">
	<% if(invaliderror === true){ %>
		<h3>Incorrect Username or Password</h3>
	<% }else if(askloginerror === true){ %>
		<h3>You Need to Login First</h3>
	<% } %>
	
	    <div class="row">
	        <h1 style="text-align:center">Sign Up</h1>
	        <div style="width:40%; margin: 25px auto;">
		        <form method='post' action="/login">
		            <div class="form-group">
		                <input class="form-control" type="text" name="username" placeholder="Username">
		            </div>
		            <div class="form-group">
		                <input class="form-control" type="password" name="password" placeholder="Password">
		            </div>
		            <div class="form-group">
		                <input class="btn btn-lg btn-primary btn-block" type="submit" placeholder="Login">
		            </div>
		        </form>
		    </div>
	    </div>
	</div>

<%- include('partials/footer') %>